[user]
	name = Yusuf Tran
	email = mumblez@users.noreply.github.com
	signingkey = 9CBF612678C3F44E
[core]
	editor = '/usr/bin/nvim'
	excludesfile = -f
    pager = delta
[delta]
    navigate = true
    features = decorations
    line-numbers = false
    side-by-side = false
[delta "interactive"]
    keep-plus-minus-markers = true
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[interactive]
    diffFilter = delta --color-only --features=interactive
[diff]
    colorMoved = default
    ; tool = '/usr/bin/delta'
	tool = nvimdiff
[merge]
	#tool = '/usr/bin/nvim -d'
    conflictstyle = diff3
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[color]
	ui = true
[push]
	default = simple
[pull]
	ff = only
[commit]
	gpgsign = true
[init]
	defaultBranch = main
